@inherits LayoutComponentBase

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
                       OnClick="ToogleDrawer">
            <MudText Typo="Typo.h6">University</MudText>
        </MudIconButton>
        <MudTextField @bind-Value="SearchValue" Label="Outlined" Variant="Variant.Outlined"></MudTextField>
    </MudAppBar>

    <MudDrawer @bind-Open="_drawerOpen" Variant="DrawerVariant.Responsive" Elevation="1" Width="260px">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Navigation</MudText>
        </MudDrawerHeader>

        <MudPaper Width="200" Elevation="0">
            <MudTreeView T="string">
                <MudTreeViewItem Text="Test 1">
                    <MudNavLink Href="/counter" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">
                        Counter
                    </MudNavLink>
                </MudTreeViewItem>
            </MudTreeView>
        </MudPaper>

        <form method="post" action="/account/logout">
            <button type="submit" class="btn btn-link">Salir</button>
        </form>

        <MudNavMenu>
            <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">
                Home
            </MudNavLink>
        </MudNavMenu>
    </MudDrawer>

    <MudMainContent Class="main-content">
        @Body
    </MudMainContent>
</MudLayout>

@code {
    private bool _drawerOpen = true;
    private string SearchValue { get; set; } = string.Empty;

    private void ToogleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }
}